<h2>Create a new celebrity</h2>
<form action="/celebrities/create" method="post" id="celeb-form">
  <label>Name</label>
  <input type="text" name="name" />
  <label>Occupation</label>
  <input type="text" name="occupation" />
  <label>Catch phrase</label>
  <input type="text" name="catchPhrase" />
  <button type="submit">Submit</button>
</form>