<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create"><button>Create a new celebrity</button></a>
<a href="/celebrities"><button>View all celebrities</button></a>
<a href="/movies/create"><button>Create a new movie</button></a>
<a href="/movies"><button>View all movies</button></a>