<h1>Movies and Celebrities</h1>
<p>Welcome!</p>
<a href="/celebrities/create"><button class="btn btn-secondary">Create a new
    celebrity</button></a>
<a href="/celebrities"><button class="btn btn-secondary">View all celebrities</button></a>
<a href="/movies/create"><button class="btn btn-secondary">Create a new movie</button></a>
<a href="/movies"><button class="btn btn-secondary">View all movies</button></a>